.notes {
	&__container {
		padding-top: 30px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
	}
}

.header-notes {
	padding: 5px;
	background-color: #a9a7a5;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 30px;
	}

	&__item {
		font-size: 18px;
		font-weight: 700;

		&:first-child {
			padding: 0 100px 0 70px;
		}

		&:not(:first-child):not(:last-child){
			padding: 0 60px;
		}
	}

}
.item--icon {
	margin-left: auto;
	display: flex;
	align-items: center;

	& svg:first-child {
		margin-right: 10px;
	}
}

.body-notes {
	// margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__row {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #847f7b;
		background-color: #dbdff3;
		width: 100%;
		padding: 5px;
		position: relative;
	}

	&__btn {
		color: #343333;
		background-color: #e8e4e2;
		padding: 5px 10px;
		margin-left: auto;
		margin-top: 25px;
		font-size: 18px;
		font-weight: 700;
		border: 2px solid ;
		border-radius: 5px;
		cursor: pointer;
		transition: all .4s ease-out;

		&:hover {
			background-color: #d7deda;
		}
		&:active {
			transform: scale(0.9);
		}
	}
}

.row-notes {
	&__item {
		font-size: 18px;
		font-weight: 500;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		// width: 180px;
	}
}
.item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	background-color: #847f7b;
	padding: 7px;
	margin-left: 25px;
	border-radius: 50%;
}
.item-name {
	color: #5a5654;
	font-weight: 600;
	padding-left: 35px;
	width: 215px;
}
.item-created {
	margin-left: 30px;
	width: 140px;
}
.item-category {
	margin-left: 40px;
	width: 140px;
}
.item-content {
	margin-left: 50px;
	width: 160px;
}
.item-dates {
	margin-left: 25px;
	width: 170px;
}
.item-icons {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 10px;

	&__edit {
		transition: all .4s ease-out;
		&:hover {
			cursor: pointer;
			transform: scale(0.9);
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
		}
	}

	&__archive {
	}

	&__delete {
		transition: all .4s ease-out;
		&:hover {
			cursor: pointer;
			transform: scale(0.9);
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
		}
	}
}

.edit-input {
	background-color: #ffffff;
	padding: 5px ;
}

.edit-cancelBtn,
.edit-saveBtn {
	position: absolute;
	top: 11px;
	right: 65px;
	z-index: 5;
	color: #343333;
	background-color: #d7deda;
	padding: 5px;
	border: 1px solid #847f7b;
	border-radius: 3px;
	cursor: pointer;
	transition: all .4s ease-out;

	&:hover {
		background-color: #f6faf8;
	}

	&:active {
		transform: scale(0.95);
	}
}

.edit-saveBtn {
	right: 80px;
}

.edit-cancelBtn {
	right: 11px;
}





