.summary-table {
	&__container {
		padding: 80px 0;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
	}
}

.header-sum {
	padding: 12px;
	background-color: #a9a7a5;

	&__list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 30px;
		gap: 170px;
	}

	&__item {
		font-size: 18px;
		font-weight: 700;

		&:first-child {
			margin: 0 200px 0 50px;
		}
	}
}

.body-sum {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__row {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: #847f7b;
		background-color: #dbdff3;
		width: 100%;
		padding: 5px;
		position: relative;
	}
}
.row-sum {
	&__item {
		font-size: 18px;
		font-weight: 500;
	}
}
.sum-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	background-color: #847f7b;
	padding: 7px;
	margin-left: 25px;
	border-radius: 50%;
}
.sum-category {
	color: #5a5654;
	font-weight: 600;
	margin-left: 23px;
	width: 150px;
}
.sum-active {
	margin-left: 340px;
	width: 20px;
}
.sum-archived {
	margin-left: 210px;
	width: 20px;
}

